<?xml version="1.0"?>
<launch>
  <include file="$(find racecar_simulator)/launch/simulator.launch">
        <arg name="map" value="$(find racecar_simulator)/maps/levine.yaml"/>
  </include>

  <!-- output="screen" allows us to see print statements -->
  <node pkg="gap_finding" name="find_gap_node" type="find_gap.py" output="screen"/>
  <node pkg="gap_finding" name="sim_connector_node" type="sim_connector.py" output="screen"/>
  <node pkg="gap_finding" name="visualize_gap_finding_node" type="visualize_gap_finding.py" output="screen"/>

</launch>
