<?xml version="1.0"?>

<launch>

  <arg name="geotiff_map_file_path" default="/home/nvidia/maps"/>

  <param name="/use_sim_time" value="true"/>
  
<!--  Don't forget to add double dash clock-->
  <node pkg="rosbag" type="play" name="play_rosbag" args="$(find localization)/bags/moore-loop.bag --clock"/>
	
<!--	<include file="$(find racecar)/launch/teleop.launch"></include>-->

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0 base_link laser"/>

  <include file="$(find hector_mapping)/launch/mapping_default.launch">
      <arg name="tf_map_scanmatch_transform_frame_name" value="scanmatcher_frame"/>
	  <arg name="base_frame" value="base_link"/>
	  <arg name="odom_frame" value="base_link"/>
	  <arg name="pub_map_odom_transform" value="true"/>
	  <arg name="scan_subscriber_queue_size" value="5"/>
	  <arg name="scan_topic" value="scan"/>
	  <arg name="map_size" value="2048"/>
  </include>

  <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
    <arg name="trajectory_source_frame_name" value="scanmatcher_frame"/>
    <arg name="map_file_path" value="$(arg geotiff_map_file_path)"/>
  </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_slam_launch)/rviz_cfg/mapping_demo.rviz"/>

<!--	To save the map, write "rosrun map_server map_saver -f moore"-->

</launch>
